Hack.json
[
  {
    "id": "5e329bf783bcd4c7",
    "type": "tab",
    "label": "Hack",
    "disabled": false,
    "info": ""
  },
  {
    "id": "3c0f55d606d50b1e",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "sensor",
    "func": "var states=[\"ON\",\"OFF\"]; //Switch status\n//var states=[\"OPEN\",\"CLOSED\"];//PIR sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        global.set(\"switch_Status\",message);\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 210,
    "y": 40,
    "wires": [["a935e74164dae35a"]]
  },
  {
    "id": "88f643e54b0cc99d",
    "type": "mqtt in",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt In",
    "topic": "sensors/+/control",
    "qos": "0",
    "datatype": "auto",
    "broker": "c20662b9.1b95",
    "inputs": 0,
    "x": 66,
    "y": 112,
    "wires": [["3c0f55d606d50b1e", "6fa949abba1c48aa", "aab0c3aa2db591f6"]]
  },
  {
    "id": "aab0c3aa2db591f6",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 260,
    "y": 130,
    "wires": [["ecf4c2253f914acd"]]
  },
  {
    "id": "6fa949abba1c48aa",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "sensor",
    "func": "//var states=[\"ON\",\"OFF\"];\nvar states=[\"HIGH\",\"LOW\"];//PIR sensor\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]==\"control\"){\n    if (message==states[0] || message==states[1]){\n        msg.payload=message;\n        msg.topic=topic.replace(\"/control\",\"\");\n        global.set(\"pir_Status\",message);\n        return msg;\n    }\n    else{\n    return null;\n    }\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 210,
    "y": 184,
    "wires": [["a935e74164dae35a"]]
  },
  {
    "id": "a935e74164dae35a",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "var sw = global.get(\"switch_Status\");\nvar pir= global.get(\"pir_Status\");\nvar topic=msg.topic;\nvar res=topic.split(\"/\");\nvar l=res.length;\nvar message=msg.payload.toUpperCase();\nif (res[l-1]!=\"control\"){\n    global.set(\"Loc\",res[l-1]);\n    if(pir===\"HIGH\"){\n        if(sw===\"ON\"){\n            msg.payload = \"true\";\n    \n        }\n        else{\n            msg.payload = \"false\";\n        }\n    }\n    else if(pir === \"LOW\"){\n        msg.payload = \"false\"\n    }\n    return msg;\n}\nelse{\n    return null;\n}\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 328,
    "y": 382,
    "wires": [
      [
        "736020058959d452",
        "902c4d6a02abb7c5",
        "ce81b9c55ded5a8d",
        "67df4fd60fc4fb69"
      ]
    ]
  },
  {
    "id": "736020058959d452",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "loc = global.get(\"Loc\");\nif(msg.payload===\"true\" && loc !=\"0\"){\n    switch(loc){\n        case \"gate\":msg.payload= [{\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_out\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:yellow\"\n                    },{\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#camera\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:green;\"\n                    }];\n                    break;\n        case \"dining-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_dining\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:yellow\"\n                    };\n                    break;\n        case \"bed-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_bed1\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:yellow\"\n                    };\n                    break;\n        case \"hall-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_hall\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:yellow\"\n                    };\n                    break;\n    }\n   \n}\nelse if(msg.payload===\"false\" && loc !=\"0\"){\n    switch(loc){       \n        case \"gate\":  msg.payload= [{\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_out\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:silver\"\n                    },{\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#camera\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:red;\"\n                    }];\n                    break;\n        case \"dining-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_dining\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:silver\"\n                    };\n                    break;\n        case \"bed-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_bed1\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:silver\"\n                    };\n                    break;\n        case \"hall-room\":  msg.payload= {\n                       \"command\":\"update_attribute\",\n                       \"selector\": \"#light_hall\",\n                       \"attributeName\": \"style\",\n                       \"attributeValue\": \"fill:silver\"\n                    };\n                    break;\n        \n    }\n}\nmsg.topic = \"\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 526,
    "y": 292,
    "wires": [["3578f36650c6507f"]]
  },
  {
    "id": "3578f36650c6507f",
    "type": "ui_svg_graphics",
    "z": "5e329bf783bcd4c7",
    "group": "30e80a7b.4469c6",
    "order": 1,
    "width": "14",
    "height": "15",
    "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" preserveAspectRatio=\"none meet\" x=\"0\" y=\"0\" viewBox=\"-0.000012627967407752294 -0.38463395833969116 900 710.7692260742188\" width=\"100%\" height=\"100%\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"900\" height=\"710\" style=\"fill:none; stroke: none;cursor:crosshair;\"/><defs id=\"svgEditorDefs\"><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f0eb\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 352 512\"><path d=\"M96.06 454.35c.01 6.29 1.87 12.45 5.36 17.69l17.09 25.69a31.99 31.99 0 0 0 26.64 14.28h61.71a31.99 31.99 0 0 0 26.64-14.28l17.09-25.69a31.989 31.989 0 0 0 5.36-17.69l.04-38.35H96.01l.05 38.35zM0 176c0 44.37 16.45 84.85 43.56 115.78 16.52 18.85 42.36 58.23 52.21 91.45.04.26.07.52.11.78h160.24c.04-.26.07-.51.11-.78 9.85-33.22 35.69-72.6 52.21-91.45C335.55 260.85 352 220.37 352 176 352 78.61 272.91-.3 175.45 0 73.44.31 0 82.97 0 176zm176-80c-44.11 0-80 35.89-80 80 0 8.84-7.16 16-16 16s-16-7.16-16-16c0-61.76 50.24-112 112-112 8.84 0 16 7.16 16 16s-7.16 16-16 16z\"/></symbol><style type=\"text/css\">.bed-room{fill:silver;}\n.dining-room{fill:silver;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;}\n#e1_path{fill:red;}\n#light_dining{fill:silver;}\n.bathroom{fill:silver;}\n.hall{fill:silver;}\n#e16_path{fill:red;}\n#e2_path{fill:red;}\n</style></defs>\n  <image width=\"889\" height=\"803\" id=\"light\" xlink:href=\"https://www.roomsketcher.com/wp-content/uploads/2016/10/1-Bedroom-Floor-Plans.jpg\" x=\"-10.241911360351537\" y=\"-40.309600841308566\"/>\n  \n  \n<g id=\"light\" style=\"fill:#BDB7A0;\"/><use xlink:href=\"#f0eb\" x=\"597.5338134392276\" y=\"159.28714013458327\" width=\"91.15\" height=\"132.58\" id=\"light_dining\" class=\"dining-room\" transform=\"matrix(0.882723 0 0 0.882723 82.328 35.791)\"/><g id=\"g_e1_svg\"/><use xlink:href=\"#f0eb\" x=\"606.6390993914512\" y=\"549.0417480255421\" width=\"91.15\" height=\"132.58\" id=\"light_bed1\" class=\"bed-room\" transform=\"matrix(0.867915 0 0 0.867915 93.9256 91.7907)\"/><use xlink:href=\"#f0eb\" x=\"412.8958435058594\" y=\"428.1405944824219\" width=\"91.15\" height=\"132.58\" id=\"e1_use\" transform=\"matrix(0.450436 0.00625036 -0.00625036 0.450436 304.158 200.139)\" class=\"bathroom\"/><use xlink:href=\"#f0eb\" x=\"-625.6689453125\" y=\"1137.63232421875\" width=\"91.15\" height=\"132.58\" id=\"e14_use\" style=\"fill:silver;\" transform=\"matrix(0.347965 0.00482844 -0.00482844 0.347965 357.264 260.378)\"/><use xlink:href=\"#f0eb\" x=\"-731.3285522460938\" y=\"419.9472351074221\" width=\"91.15\" height=\"132.58\" id=\"e3_use\" style=\"fill:silver;\" transform=\"matrix(0.365213 0.00506777 -0.00506777 0.365213 390.134 235.48)\"/><g style=\"fill:silver; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;\" id=\"light_out\" transform=\"matrix(-0.0098262 -0.301115 0.301115 -0.0098262 24.2664 423.975)\"><path d=\"M-154.218971,39.611192c-0.6,13.2,5.9,24.9,16,31.7v14.1h40v-14.1c9.6-6.5,16-17.5,16-29.9c0-20.3-16.7-36.6-37.1-36c-18.6,0.6-8.263787,42.965813-34.8,34.2Z\" class=\"gate\"/><path d=\"M-138.2189714819856,93.61119172709107c0,8.7,7.1,15.8,15.8,15.8h8.3c8.7,0,15.8,-7.1,15.8,-15.8v-0.2h-40v0.2Z\"/><path d=\"M-114.21897148198559,-14.588808272908949c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-58.21897148198559,41.41119172709105c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-170.2189714819856,41.41119172709105c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-74.6189714819856,1.811191727091046c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-153.81897148198559,81.01119172709102c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-153.81897148198559,1.811191727091046c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/><path d=\"M-74.6189714819856,81.01119172709102c0,2.2,-1.8,4,-4,4s-4,-1.8,-4,-4c0,-2.2,1.8,-4,4,-4s4,1.8,4,4Z\"/></g><path d=\"M-28.902301,-242.983517l-24.8,21.9v-22.2c0,-5.4,-4.4,-9.8,-9.8,-9.8h-68.4c-5.4,0,-9.8,4.4,-9.8,9.8v76.4c0,5.4,4.4,9.8,9.8,9.8h68.4c5.4,0,9.8,-4.4,9.8,-9.8v-22.2l24.8,21.9c6.5,4.3,15.2,-0.3,15.2,-8.1v-59.5c0,-7.8,-8.7,-12.5,-15.2,-8.1Z\" style=\"fill:red; stroke:black; vector-effect:non-scaling-stroke;stroke-width:1px;\" id=\"camera\" transform=\"matrix(-0.199536 -0.141923 0.141923 -0.199536 52.1953 489.701)\" class=\"gate\"/><path d=\"M-759.39585,1757.347837l-24.8,21.9v-22.2c0,-5.4,15.25602,80.528329,-9.8,-9.8h-68.4c-5.4,0,-9.8,4.4,-9.8,9.8v76.4c0,5.4,4.4,9.8,9.8,9.8h68.4c5.4,0,9.8,-4.4,9.8,-9.8v-22.2l24.8,21.9c6.5,4.3,15.2,-0.3,15.2,-8.1v-59.5c0,-7.8,-8.7,-12.5,-15.2,-8.1Z\" id=\"e1_path\" transform=\"matrix(0.342472 0.0471672 -0.0471672 0.342472 665.522 -480.527)\" class=\"dining-room\"/><path d=\"M-1594.305955,2167.002871l-24.8,21.9v-22.2c0,-5.4,15.25602,80.528329,-9.8,-9.8h-68.4c-5.4,0,-9.8,4.4,-9.8,9.8v76.4c0,5.4,4.4,9.8,9.8,9.8h68.4c5.4,0,9.8,-4.4,9.8,-9.8v-22.2l24.8,21.9c6.5,4.3,15.2,-0.3,15.2,-8.1v-59.5c0,-7.8,-8.7,-12.5,-15.2,-8.1Z\" id=\"e16_path\" transform=\"matrix(0.340252 -0.198498 0.198498 0.340252 501.442 -403.798)\" class=\"bed-room\"/><path d=\"M-1315.729188,1820.315307l-24.8,21.9v-22.2c0,-5.4,15.25602,80.528329,-9.8,-9.8h-68.4c-5.4,0,-9.8,4.4,-9.8,9.8v76.4c0,5.4,4.4,9.8,9.8,9.8h68.4c5.4,0,9.8,-4.4,9.8,-9.8v-22.2l24.8,21.9c6.5,4.3,15.2,-0.3,15.2,-8.1v-59.5c0,-7.8,-8.7,-12.5,-15.2,-8.1Z\" id=\"e2_path\" transform=\"matrix(-0.195614 -0.341917 0.341917 -0.195614 -599.815 414.159)\" class=\"hall-room\"/><path d=\"M649.73995949,628.08426887\" style=\"fill:none;stroke:black;\" stroke-width=\"1.3313917204077386\" id=\"e3_path\"/><use xlink:href=\"#f0eb\" x=\"-282.3120289547239\" y=\"831.8681378952397\" width=\"91.150002\" height=\"132.580002\" id=\"e2_use\" transform=\"matrix(0.365213 0.00506777 -0.00506777 0.365213 292.942 179.562)\" class=\"hall-room\" style=\"fill:silver;\"/></svg>",
    "clickableShapes": [],
    "javascriptHandlers": [],
    "smilAnimations": [],
    "bindings": [],
    "showCoordinates": false,
    "autoFormatAfterEdit": false,
    "showBrowserErrors": false,
    "showBrowserEvents": false,
    "enableJsDebugging": false,
    "sendMsgWhenLoaded": false,
    "outputField": "",
    "editorUrl": "http://drawsvg.org/drawsvg.html",
    "directory": "",
    "panning": "disabled",
    "zooming": "disabled",
    "panOnlyWhenZoomed": false,
    "doubleClickZoomEnabled": false,
    "mouseWheelZoomEnabled": false,
    "dblClickZoomPercentage": "150",
    "name": "FloorPlan",
    "x": 706,
    "y": 364,
    "wires": [[]]
  },
  {
    "id": "b7706ab19de7dc44",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 536,
    "y": 454,
    "wires": []
  },
  {
    "id": "19769458332e3fd3",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "global.set(\"iter\",0)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 462,
    "y": 628,
    "wires": [["902c4d6a02abb7c5"]]
  },
  {
    "id": "902c4d6a02abb7c5",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "\nvar location = global.get(\"Loc\");\nvar iter = global.get(\"iter\");\nif(msg.payload === \"true\" ){\n    global.set(\"switch_Status\",\"ON\");\n    global.set(\"Lockdown_Stat\",\"ON\");\n}\nelse if (msg.payload === \"false\"){\n    global.set(\"switch_Status\",\"OFF\");\n    global.set(\"Lockdown_Stat\",\"OFF\");\n}\nvar locked = global.get(\"Lockdown_Stat\");\nif(locked ===\"ON\"){\n    if(iter != 0){\n            msg.payload = \"Unknown Activity in \"+location\n            return msg;\n    }\n    iter +=1;\n    global.set(\"iter\",iter);\n}\n\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 520,
    "wires": [
      [
        "b42ec988b874612d",
        "929b8f8b096bd6a9",
        "d420fdecbcbda1ce",
        "b2f68df7b4201527"
      ]
    ]
  },
  {
    "id": "b42ec988b874612d",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 520,
    "wires": []
  },
  {
    "id": "d420fdecbcbda1ce",
    "type": "twilio out",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "twilio": "90c5ab1f.fc5058",
    "twilioType": "sms",
    "url": "",
    "number": "+918218094284",
    "name": "SMS",
    "x": 690,
    "y": 740,
    "wires": []
  },
  {
    "id": "b2f68df7b4201527",
    "type": "e-mail",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": false,
    "name": "somida00@gmail.com",
    "dname": "Email Node",
    "x": 930,
    "y": 700,
    "wires": []
  },
  {
    "id": "929b8f8b096bd6a9",
    "type": "ui_toast",
    "z": "5e329bf783bcd4c7",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": true,
    "topic": "Alert !",
    "name": "Notify Location",
    "x": 866,
    "y": 576,
    "wires": []
  },
  {
    "id": "84213becac366421",
    "type": "twilio out",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "twilio": "90c5ab1f.fc5058",
    "twilioType": "sms",
    "url": "",
    "number": "+918218094284",
    "name": "SMS",
    "x": 788,
    "y": 1636,
    "wires": []
  },
  {
    "id": "b06b0848b4d20d4b",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "if (msg.payload.weather === \"Clouds\") {\nmsg.payload = \"If you go out don't forget an umbrella!\"\nreturn msg;\n}\nelse{\n  msg.payload = \"Sky is clear!\"\nreturn msg;  \n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 558,
    "y": 1536,
    "wires": [["84213becac366421", "619d53c4255daba5", "52c81df8217a1ba0"]]
  },
  {
    "id": "affb97adb27bed6d",
    "type": "comment",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "info": "Below function will send a notification if weather is cloudy.\nIt will notify, not to forget umbrella if you are out",
    "x": 618,
    "y": 1156,
    "wires": []
  },
  {
    "id": "ced938c0c30e87b0",
    "type": "openweathermap",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "name": "",
    "wtype": "current",
    "lon": "",
    "lat": "",
    "city": "Gurgaon",
    "country": "India",
    "language": "en",
    "x": 480,
    "y": 1420,
    "wires": [["17d0c81f14e25d5c", "b06b0848b4d20d4b"]]
  },
  {
    "id": "92ba7e52eba51969",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1200",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 308,
    "y": 1336,
    "wires": [["ced938c0c30e87b0"]]
  },
  {
    "id": "17d0c81f14e25d5c",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "var msg1 = { payload:20 };\nvar msg2 = { payload:msg.payload.tempc };\n//var msg3 = { payload:msg.payload.temp_minc };\nvar msg3 = {payload:5};\nvar msg4 = { payload:msg.payload.description};\nvar msg5 = { payload:msg.payload.icon};\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];",
    "outputs": 5,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 658,
    "y": 1310,
    "wires": [
      ["ad8c8b96c921c215"],
      ["11d3cb48e4ce54a1", "e1ef2c9b627a5012"],
      ["bdfdede1e75536de"],
      ["b07835251045e3b2"],
      ["17ed9934edef1638"]
    ],
    "outputLabels": [
      "Temp Max",
      "Current Temp",
      "Temp Min",
      "Description",
      "Weather icon"
    ]
  },
  {
    "id": "5c0ba58023401395",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Value Bool",
    "topic": "home/value",
    "qos": "",
    "retain": "",
    "broker": "c20662b9.1b95",
    "x": 890,
    "y": 420,
    "wires": []
  },
  {
    "id": "ce81b9c55ded5a8d",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "func": "msg.payload = global.get(\"Loc\");\n    \nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 200,
    "wires": [["92333ab61433ca07"]]
  },
  {
    "id": "badae61c689f9bdb",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Value Loc",
    "topic": "home/location",
    "qos": "",
    "retain": "",
    "broker": "c20662b9.1b95",
    "x": 920,
    "y": 60,
    "wires": []
  },
  {
    "id": "2159ea92bbdf1873",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 260,
    "wires": []
  },
  {
    "id": "71c1899a8301fc9b",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "on",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/dining-room/inj",
    "payload": "on",
    "payloadType": "str",
    "x": 1290,
    "y": 100,
    "wires": [["03c8ae41efe0c660"]]
  },
  {
    "id": "70a9d5b79130af1a",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "off",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/dining-room/inj",
    "payload": "off",
    "payloadType": "str",
    "x": 1290,
    "y": 172,
    "wires": [["03c8ae41efe0c660"]]
  },
  {
    "id": "2612689e1c29d3a3",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR High",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/dining-room/inj",
    "payload": "High",
    "payloadType": "str",
    "x": 1300,
    "y": 244,
    "wires": [["d7c779a220662308"]]
  },
  {
    "id": "9483f394f89e4b5a",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR Low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/dining-room/inj",
    "payload": "Low",
    "payloadType": "str",
    "x": 1300,
    "y": 316,
    "wires": [["d7c779a220662308"]]
  },
  {
    "id": "2b8c692f3ccd4225",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "on",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/gate/inj",
    "payload": "on",
    "payloadType": "str",
    "x": 1890,
    "y": 80,
    "wires": [["32ddf5e40e91ef86"]]
  },
  {
    "id": "f205e76ef35a957c",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "off",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/gate/inj",
    "payload": "off",
    "payloadType": "str",
    "x": 1890,
    "y": 134,
    "wires": [["32ddf5e40e91ef86"]]
  },
  {
    "id": "9288b2b23c73ae55",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR High",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/gate/inj",
    "payload": "High",
    "payloadType": "str",
    "x": 1900,
    "y": 188,
    "wires": [["5421c4c6d7cd1100"]]
  },
  {
    "id": "b114ac7decd2b777",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR Low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/gate/inj",
    "payload": "Low",
    "payloadType": "str",
    "x": 1912,
    "y": 280,
    "wires": [["5421c4c6d7cd1100"]]
  },
  {
    "id": "5ea44962b6224b06",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "on",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/bed-room/inj",
    "payload": "on",
    "payloadType": "str",
    "x": 1290,
    "y": 360,
    "wires": [["452112a82920d943"]]
  },
  {
    "id": "91cf2fb6220f7375",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "off",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/bed-room/inj",
    "payload": "off",
    "payloadType": "str",
    "x": 1290,
    "y": 432,
    "wires": [["452112a82920d943"]]
  },
  {
    "id": "88dcd28078ea742d",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR High",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/bed-room/inj",
    "payload": "High",
    "payloadType": "str",
    "x": 1300,
    "y": 504,
    "wires": [["ab46e012962d20e3"]]
  },
  {
    "id": "15318534f36171a7",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR Low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/bed-room/inj",
    "payload": "Low",
    "payloadType": "str",
    "x": 1300,
    "y": 576,
    "wires": [["ab46e012962d20e3"]]
  },
  {
    "id": "6b8e45843dadb0fc",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "on",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/hall/inj",
    "payload": "on",
    "payloadType": "str",
    "x": 1890,
    "y": 360,
    "wires": [["cacdfd0dfe4e79d8"]]
  },
  {
    "id": "b8eefd4b8d4e0774",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "off",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/hall/inj",
    "payload": "off",
    "payloadType": "str",
    "x": 1890,
    "y": 432,
    "wires": [["cacdfd0dfe4e79d8"]]
  },
  {
    "id": "376f52c7ec98cafe",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR High",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "sensors/hall/inj",
    "payload": "High",
    "payloadType": "str",
    "x": 1900,
    "y": 504,
    "wires": [["f7140efe13da86d5"]]
  },
  {
    "id": "3a906fdef58cb198",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "name": "PIR Low",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "sensors/hall/inj",
    "payload": "Low",
    "payloadType": "str",
    "x": 1900,
    "y": 576,
    "wires": [["f7140efe13da86d5"]]
  },
  {
    "id": "f7140efe13da86d5",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/hall-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 2260,
    "y": 540,
    "wires": []
  },
  {
    "id": "57b0542844731199",
    "type": "comment",
    "z": "5e329bf783bcd4c7",
    "name": "Hall Room",
    "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
    "x": 2062,
    "y": 468,
    "wires": []
  },
  {
    "id": "cacdfd0dfe4e79d8",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/hall-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 2134,
    "y": 396,
    "wires": []
  },
  {
    "id": "ab46e012962d20e3",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/bed-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 1660,
    "y": 540,
    "wires": []
  },
  {
    "id": "a729960077091743",
    "type": "comment",
    "z": "5e329bf783bcd4c7",
    "name": "Bed Room",
    "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
    "x": 1462,
    "y": 468,
    "wires": []
  },
  {
    "id": "452112a82920d943",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/bed-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 1534,
    "y": 396,
    "wires": []
  },
  {
    "id": "5421c4c6d7cd1100",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/gate/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 2274,
    "y": 244,
    "wires": []
  },
  {
    "id": "21b54dcef2422a9a",
    "type": "comment",
    "z": "5e329bf783bcd4c7",
    "name": "Out Gate",
    "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
    "x": 2100,
    "y": 188,
    "wires": []
  },
  {
    "id": "32ddf5e40e91ef86",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/gate/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 2154,
    "y": 98,
    "wires": []
  },
  {
    "id": "d7c779a220662308",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/dining-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 1680,
    "y": 280,
    "wires": []
  },
  {
    "id": "113c78f1c2f744f0",
    "type": "comment",
    "z": "5e329bf783bcd4c7",
    "name": "Dining Room",
    "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
    "x": 1492,
    "y": 208,
    "wires": []
  },
  {
    "id": "03c8ae41efe0c660",
    "type": "mqtt out",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt out",
    "topic": "sensors/dining-room/control",
    "qos": "0",
    "retain": "false",
    "broker": "c20662b9.1b95",
    "x": 1548,
    "y": 140,
    "wires": []
  },
  {
    "id": "b7406a5ccaa4328f",
    "type": "mqtt in",
    "z": "5e329bf783bcd4c7",
    "name": "Mqtt In",
    "topic": "sensors/lockdown",
    "qos": "2",
    "datatype": "auto",
    "broker": "c20662b9.1b95",
    "inputs": 0,
    "x": 260,
    "y": 642,
    "wires": [["19769458332e3fd3", "5d1d0468dd2fca22"]]
  },
  {
    "id": "ad8c8b96c921c215",
    "type": "ui_gauge",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "group": "6bfa2312.34c2bc",
    "order": 1,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Max temp",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "-5",
    "max": "40",
    "colors": ["#0080ff", "#008080", "#ca3838"],
    "seg1": "5",
    "seg2": "25",
    "x": 898,
    "y": 1136,
    "wires": []
  },
  {
    "id": "11d3cb48e4ce54a1",
    "type": "ui_gauge",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "group": "6bfa2312.34c2bc",
    "order": 7,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Current temp",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "-5",
    "max": "40",
    "colors": ["#0080ff", "#008040", "#ca3838"],
    "seg1": "5",
    "seg2": "25",
    "x": 908,
    "y": 1216,
    "wires": []
  },
  {
    "id": "bdfdede1e75536de",
    "type": "ui_gauge",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "group": "6bfa2312.34c2bc",
    "order": 14,
    "width": 4,
    "height": 4,
    "gtype": "gage",
    "title": "Min temp",
    "label": "Celsius",
    "format": "{{value}}",
    "min": "-5",
    "max": "40",
    "colors": ["#0080ff", "#008080", "#ca3838"],
    "seg1": "5",
    "seg2": "25",
    "x": 898,
    "y": 1276,
    "wires": []
  },
  {
    "id": "e1ef2c9b627a5012",
    "type": "ui_chart",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "group": "5cb5880f.f26458",
    "order": 1,
    "width": 14,
    "height": 8,
    "label": "Temp in degrees C",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "10",
    "ymax": "25",
    "removeOlder": "30",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 928,
    "y": 1336,
    "wires": [[]]
  },
  {
    "id": "b07835251045e3b2",
    "type": "ui_text",
    "z": "5e329bf783bcd4c7",
    "group": "639ef8aa.3ef108",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "x": 888,
    "y": 1396,
    "wires": []
  },
  {
    "id": "17ed9934edef1638",
    "type": "ui_template",
    "z": "5e329bf783bcd4c7",
    "group": "639ef8aa.3ef108",
    "name": "Weather icon",
    "order": 1,
    "width": 4,
    "height": 4,
    "format": "<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "resendOnRefresh": false,
    "templateScope": "local",
    "x": 908,
    "y": 1456,
    "wires": [[]]
  },
  {
    "id": "619d53c4255daba5",
    "type": "ui_text",
    "z": "5e329bf783bcd4c7",
    "group": "2fb4fe22.0f6d12",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 888,
    "y": 1516,
    "wires": []
  },
  {
    "id": "52c81df8217a1ba0",
    "type": "e-mail",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "server": "smtp.gmail.com",
    "port": "465",
    "secure": true,
    "tls": false,
    "name": "somida00@gmail.com",
    "dname": "Email Node",
    "x": 908,
    "y": 1576,
    "wires": []
  },
  {
    "id": "5d1d0468dd2fca22",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 720,
    "wires": []
  },
  {
    "id": "ecf4c2253f914acd",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 442,
    "y": 112,
    "wires": []
  },
  {
    "id": "c0e35586d7dc2e3d",
    "type": "inject",
    "z": "5e329bf783bcd4c7",
    "d": true,
    "name": "Hello",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "lol/lol2",
    "payload": "My Name Is Soumitro",
    "payloadType": "str",
    "x": 330,
    "y": 920,
    "wires": [["21093ea6dcb59302"]]
  },
  {
    "id": "21093ea6dcb59302",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "AES Encrypt ",
    "func": "      // An example 128-bit key (16 bytes * 8 bits/byte = 128 bits)\n      var key = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16];\n\n      // Convert text to bytes\n      var text = msg.payload ;\n      var textBytes = aesjs.utils.utf8.toBytes(text);\n\n      // The counter is optional, and if omitted will begin at 1\n      var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter(5));\n      var encryptedBytes = aesCtr.encrypt(textBytes);\n\n      // To print or store the binary data, you may convert it to hex\n      var encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);\n\n msg.payload = encryptedHex;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "aesjs",
        "module": "aes-js"
      }
    ],
    "x": 600,
    "y": 960,
    "wires": [["4123afac9e483a34", "4aa59ce98785ed35"]]
  },
  {
    "id": "4123afac9e483a34",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 920,
    "wires": []
  },
  {
    "id": "4aa59ce98785ed35",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "AES Decrypt",
    "func": "      // An example 128-bit key (16 bytes * 8 bits/byte = 128 bits)\n      var key = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16];\n\n      // To print or store the binary data, you may convert it to hex\n      var encryptedHex = msg.payload;\n      \n      // \"a338eda3874ed884b6199150d36f49988c90f5c47fe7792b0cf8c7f77eeffd87\n      //  ea145b73e82aefcf2076f881c88879e4e25b1d7b24ba2788\"\n\n      // When ready to decrypt the hex string, convert it back to bytes\n      var encryptedBytes = aesjs.utils.hex.toBytes(encryptedHex);\n\n      // The counter mode of operation maintains internal state, so to\n      // decrypt a new instance must be instantiated.\n      var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter(5));\n      var decryptedBytes = aesCtr.decrypt(encryptedBytes);\n\n      // Convert our bytes back into text\n      var decryptedText = aesjs.utils.utf8.fromBytes(decryptedBytes);\n     \n // \"Text may be any length you wish, no padding is required.\"\n msg.payload = decryptedText;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "aesjs",
        "module": "aes-js"
      }
    ],
    "x": 810,
    "y": 1040,
    "wires": [["d54e2706a0667068"]]
  },
  {
    "id": "d54e2706a0667068",
    "type": "debug",
    "z": "5e329bf783bcd4c7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 1060,
    "wires": []
  },
  {
    "id": "92333ab61433ca07",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "AES Encrypt ",
    "func": "      // An example 128-bit key (16 bytes * 8 bits/byte = 128 bits)\n      var key = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16];\n\n      // Convert text to bytes\n      var text = msg.payload ;\n      var textBytes = aesjs.utils.utf8.toBytes(text);\n\n      // The counter is optional, and if omitted will begin at 1\n      var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter(5));\n      var encryptedBytes = aesCtr.encrypt(textBytes);\n\n      // To print or store the binary data, you may convert it to hex\n      var encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);\n\n msg.payload = encryptedHex;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "aesjs",
        "module": "aes-js"
      }
    ],
    "x": 710,
    "y": 120,
    "wires": [["badae61c689f9bdb", "2159ea92bbdf1873"]]
  },
  {
    "id": "67df4fd60fc4fb69",
    "type": "function",
    "z": "5e329bf783bcd4c7",
    "name": "AES Encrypt ",
    "func": "      // An example 128-bit key (16 bytes * 8 bits/byte = 128 bits)\n      var key = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16];\n\n      // Convert text to bytes\n      var text = msg.payload ;\n      var textBytes = aesjs.utils.utf8.toBytes(text);\n\n      // The counter is optional, and if omitted will begin at 1\n      var aesCtr = new aesjs.ModeOfOperation.ctr(key, new aesjs.Counter(5));\n      var encryptedBytes = aesCtr.encrypt(textBytes);\n\n      // To print or store the binary data, you may convert it to hex\n      var encryptedHex = aesjs.utils.hex.fromBytes(encryptedBytes);\n\n msg.payload = encryptedHex;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [
      {
        "var": "aesjs",
        "module": "aes-js"
      }
    ],
    "x": 570,
    "y": 400,
    "wires": [["5c0ba58023401395", "b7706ab19de7dc44"]]
  },
  {
    "id": "c20662b9.1b95",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.mqttdashboard.com",
    "port": "1883",
    "clientid": "home",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "30e80a7b.4469c6",
    "type": "ui_group",
    "name": "Floorplan",
    "tab": "af8c03c7.9cbaa",
    "order": 1,
    "disp": true,
    "width": "14",
    "collapse": false
  },
  {
    "id": "90c5ab1f.fc5058",
    "type": "twilio-api",
    "name": "Sms Node",
    "sid": "AC69d35c802ff1a6f0200b9943d5911908",
    "from": "+18508093758"
  },
  {
    "id": "6bfa2312.34c2bc",
    "type": "ui_group",
    "name": "Gauges",
    "tab": "40adbb81.e95ee4",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "5cb5880f.f26458",
    "type": "ui_group",
    "name": "Chart",
    "tab": "40adbb81.e95ee4",
    "order": 2,
    "disp": true,
    "width": "14",
    "collapse": false
  },
  {
    "id": "639ef8aa.3ef108",
    "type": "ui_group",
    "name": "Description",
    "tab": "40adbb81.e95ee4",
    "order": 3,
    "disp": true,
    "width": "14",
    "collapse": false
  },
  {
    "id": "2fb4fe22.0f6d12",
    "type": "ui_group",
    "name": "Notification",
    "tab": "40adbb81.e95ee4",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "af8c03c7.9cbaa",
    "type": "ui_tab",
    "name": "SVG",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "40adbb81.e95ee4",
    "type": "ui_tab",
    "name": "Weather",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
