Maid_Monitoring/Maid Monitoring Tester.json
[
    {
        "id": "332e9a4e.8b42b6",
        "type": "tab",
        "label": "Maid-Monitoring Tester",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d8b43bf6.152758",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Hallway",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Hallway,User1",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "326e594.fe14ea6",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Living",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Living,User1",
        "payloadType": "str",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "398cb6f4.a9196a",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Kitchen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Kitchen,User1",
        "payloadType": "str",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "87cb51b6.d3e32",
        "type": "mqtt out",
        "z": "332e9a4e.8b42b6",
        "name": "Mqtt out",
        "topic": "sensors/control/maid",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c20662b9.1b95",
        "x": 340,
        "y": 500,
        "wires": []
    },
    {
        "id": "7abf7e97.4b21d",
        "type": "comment",
        "z": "332e9a4e.8b42b6",
        "name": "Output from Face Recognition and PIR Module",
        "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "ea37e061.d9bca",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Utility",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Utility,User1",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "cd0f5f3d.34ac",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Bedroom",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Bedroom,User1",
        "payloadType": "str",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "a7af0967.f4eee8",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Exit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "</s>,User1",
        "payloadType": "str",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "87cb51b6.d3e32"
            ]
        ]
    },
    {
        "id": "c965634.712b4a",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Hallway",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Hallway,User0",
        "payloadType": "str",
        "x": 530,
        "y": 260,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "3f087512.c19a1a",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Living",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Living,User0",
        "payloadType": "str",
        "x": 530,
        "y": 600,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "98f00403.941968",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Kitchen",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Kitchen,User0",
        "payloadType": "str",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "f1e72172.0c488",
        "type": "mqtt out",
        "z": "332e9a4e.8b42b6",
        "name": "Mqtt out",
        "topic": "sensors/control/maid",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c20662b9.1b95",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "8ee497d0.582778",
        "type": "comment",
        "z": "332e9a4e.8b42b6",
        "name": "Output from Face Recognition and PIR Module",
        "info": "The PIR Sensor is assumed to being set to H => It will give low as outpput otherwise, and go high when it detects motion.",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "ec290d26.68df6",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Utility",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Utility,User0",
        "payloadType": "str",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "ff57e53b.354528",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Bedroom",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "Bedroom,User0",
        "payloadType": "str",
        "x": 540,
        "y": 680,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "6c0ff0ff.7612d",
        "type": "inject",
        "z": "332e9a4e.8b42b6",
        "name": "Exit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "sensors/control/maid",
        "payload": "</s>,User0",
        "payloadType": "str",
        "x": 530,
        "y": 740,
        "wires": [
            [
                "f1e72172.0c488"
            ]
        ]
    },
    {
        "id": "412e7f7c.67386",
        "type": "mqtt in",
        "z": "332e9a4e.8b42b6",
        "name": "Monitoring Output",
        "topic": "sensors/control/monitored",
        "qos": "0",
        "datatype": "auto",
        "broker": "c20662b9.1b95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 900,
        "wires": [
            [
                "5e01923d.ebf4dc"
            ]
        ]
    },
    {
        "id": "5e01923d.ebf4dc",
        "type": "debug",
        "z": "332e9a4e.8b42b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 880,
        "wires": []
    },
    {
        "id": "2b17c599.fd779a",
        "type": "e-mail",
        "z": "332e9a4e.8b42b6",
        "d": true,
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "somida00@gmail.com",
        "dname": "Notify",
        "x": 800,
        "y": 1100,
        "wires": []
    },
    {
        "id": "d57438ef.417c58",
        "type": "mqtt in",
        "z": "332e9a4e.8b42b6",
        "name": "Anomaly Only",
        "topic": "sensors/control/monitored/anomaly",
        "qos": "2",
        "datatype": "auto",
        "broker": "c20662b9.1b95",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 980,
        "wires": [
            [
                "89b95094.a2ae3"
            ]
        ]
    },
    {
        "id": "89b95094.a2ae3",
        "type": "function",
        "z": "332e9a4e.8b42b6",
        "name": "",
        "func": "var str = msg.payload;\nif(str.split(\" \")[5].localeCompare(\"</s>\")==0){\n    msg.payload = \"Anomaly Detected current position : Exit\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1020,
        "wires": [
            [
                "2b17c599.fd779a",
                "7bb6f3fa.c211fc"
            ]
        ]
    },
    {
        "id": "7bb6f3fa.c211fc",
        "type": "debug",
        "z": "332e9a4e.8b42b6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "c20662b9.1b95",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "home",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]